.main-section {
    display: flex;
    max-width: 100%;

    .eclipse {
        position: absolute;
        width: 160px;
        height: 160px;
        left: 590px;
        top: 160px;
    }

    .img {
        position: absolute;
        width: 500px;
        height: 420px;
        left: 280px;
        top: 200px;
    }

    .eclipse2 {
        position: absolute;
        width: 220px;
        height: 220px;
        left: 250px;
        top: 430px;
    }

    .slm {
        position: absolute;
        width: 500px;
        left: 60rem;
        top: 15rem;
        color: white;
        font-style: normal;
        font-weight: 398;
        font-size: 64px;
        line-height: 75px;
    }

    .tmd1000 {
        position: absolute;
        width: 570px;
        height: 28px;
        left: 60rem;
        top: 22rem;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        color: #FFFFFF;
    }

    button {
        position: absolute;
        width: 180px;
        height: 55px;
        left: 60rem;
        top: 27rem;
        background: #1762A7;
        cursor: pointer;
        border: none;
        border-radius: 13px;
        font-size: 20px;
        text-align: center;
        &:hover{
            transform: scale(1.1);
            transition-duration: 1.2s;
            
        }

        a {
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-family: 'Roboto';
            font-style: normal;

            &:hover {
                color: #000000;
            }
        }
    }

    .headph {
        position: absolute;
        width: 300px;
        height: 300px;
        left: 80rem;
        top: 30rem;
    }
}