@media (max-width:585px) {

    /* PAGINA UNIRSE */

    .main-unirse {

        .ache1 {
            left: 18%;
            top: 17%;
            font-size: 38px;
        }

        .unirse-box {
            left: 20%;
            top: 27%;
            border-radius: 11px;
            background-color: #000000;
        }
    }


    /* descargar */

    .main-descargar {
        h1 {
            left: 133px;
            font-size: 30px;
        }

        .phoneapp {
            top: 200px;
            left: 170px;
        }

        .cloud1 {
            left: 225px;
            top: 150px;
        }

        .stores {
            width: 200px;
            top: 740px;
            left: 200px;
        }
    }

}