@media (max-width:475px) {
    /* descargar */

    .main-descargar {

        h1 {
            left: 100px;
            font-size: 28px;
        }
        
        .phoneapp {
            left: 130px;
        }
        
        .cloud1 {
            left: 185px;
        }
        
        .stores {
            width: 190px;
            left: 170px;
        }
    }
}