@media (max-width:320px) {

    header {

        nav {
            width: 100%;

            .logo {
                font-size: 18px;
            }

            .menu {

                a {
                    font-size: 17px;
                }
            }
        }

    }

    .main-section {

        .eclipse {
            width: 45px;
            height: auto;
            left: 200px;
            top: 240px;
            z-index: -2;
        }

        .img {
            width: 100%;
            height: auto;
            left: 0;
            top: 230px;
            z-index: -1;
        }

        .eclipse2 {
            width: 70px;
            height: auto;
            left: 40px;
            top: 420px;
            z-index: -2;
        }

        .slm {
            top: 140px;
            left: 80px;
            font-size: 22px;
        }

        .tmd1000 {
            width: 200px;
            left: 60px;
            top: 560px;
            text-align: center;
        }

        button {
            left: 100px;
            border-radius: 4px;
        }

    }

    .main-footer {
        .container-footer {

            .descargar {
                padding-left: 1rem;
            }

            .navigation-menu2 {
                padding-right: 1rem;
            }
        }
    }

    /* unirse */

    .main-unirse {

        .ache1 {
            left: 12%;
            top: 17%;
            font-size: 27px;
        }

        .unirse-box {
            left: 3%;
            top: 27%;
            border-radius: 11px;
            background-color: #000000;
        }
    }

    /* descargar */

    .main-descargar {

        h1 {
            left: 57px;
            font-size: 20px;
        }

        .phoneapp {
            left: 37px;
        }

        .cloud1 {
            left: 98px;
        }

        .stores {
            left: 87px;
        }
    }
}