@media (max-width:768px) {
    header {

        nav {
            width: 100%;
            background-color: #000000;
            border-radius: 0 0 20px 20px;

            label {
                display: inline-flex;
                color: white;
                cursor: pointer;
            }

            #toggle:checked~.menu {
                height: 100%;
            }

            .menu {
                width: 100%;
                height: 0;
                overflow: hidden;

                ul {
                    flex-direction: column;
                    align-items: center;
                    padding: 0.5rem 0;

                    a {
                        font-size: 20px;
                    }
                }

            }


        }
    }

    .main-section {

        .eclipse {
            width: 80px;
            height: 80px;
            left: 63%;
            top: 190px;
            z-index: -2;
        }

        .img {
            width: 400px;
            height: auto;
            left: 30%;
            top: 190px;
            z-index: -1;
        }

        .eclipse2 {
            width: 120px;
            height: 120px;
            left: 32%;
            top: 400px;
            z-index: -2;
        }

        .slm {
            width: 300px;
            top: 110px;
            left: 40%;
            font-size: 30px;
            z-index: -1;
        }

        .tmd1000 {
            position: absolute;
            width: 300px;
            left: 32%;
            top: 550px;
            text-align: center;
        }

        button {
            position: absolute;
            width: 135px;
            height: 45px;
            left: 43%;
            top: 620px;
            border-radius: 10px;

            a {
                font-size: 18px;
                font-weight: 200;
            }
        }

        .headph {
            display: none;
        }
    }

    .main-footer {

        .container-footer {
            height: auto;

            .descargar {
                font-weight: 300;
                font-size: 20px;
                line-height: 28px;
                padding-left: 3rem;
            }

            .navigation-menu2 {
                font-size: 20px;
                font-weight: 300;
                line-height: 28px;
                gap: 27px;
                padding-right: 3rem;

                .text {
                    display: none;
                }
            }
        }
    }



    /**PAGINA INICIAR SESION**/

    .close {
        img {
            height: 60px;
        }
    }

    .login-box {
        width: 280px;
        border-radius: 11px;

        h1 {
            font-size: 18px;
        }

        input {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    /* PAGINA UNIRSE */
    .main-unirse {

        .ache1 {
            left: 23%;
            top: 18%;
            font-size: 45px;
        }

        .unirse-box {
            top: 28%;
            width: 300px;
            border-radius: 11px;
            background-color: #000000;
        }
    }


    /* descargar */

    .main-descargar {

        h1 {
            left: 200px;
            top: 100px;
            font-size: 36px;
        }

        p {
            display: none;
        }

        .phoneapp {
            top: 210px;
            left: 270px;
        }

        .cloud1 {
            left: 325px;
            top: 160px;
        }

        h2 {
            display: none;
        }

        .stores {
            width: 220px;
            top: 749px;
            left: 287px;
        }

        .eclipdesc {
            display: none;
        }

        .eclipdesc2 {
            display: none;
        }
    }

    // DESCUBRE

    main {

        .grid {
            width: 100%;
            height: 700px;
            margin: 5px auto;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(4, auto);
            grid-template-areas:
                "n1  n1"
                "n2  n2"
                "n4  n4"
                "n3  n3"
            ;
            gap: 10px;


            .item {
                color: #FFFFFF;
                text-align: center;
            }

            .item1 {
                grid-area: n1;
                padding-top: 0px;
                .h1-descubrir {
                    font-weight: 370;
                    font-size: 30px;
                    padding-top: 0px;
                }
            }



            .item2 {
                grid-area: n2;
                padding-top: 0px;
            }

            .img-desc {
                grid-area: img-desc;
                width: 300px;
                padding-top: 10px;
            }

            .item3 {
                grid-area: n3;
                margin: 0px 30px 0px 30px;

                p {
                    font-size: 20px;
                }
            }


            .item4 {
                grid-area: n4;
                justify-content: center;
                align-items: center;

                .albumtop {
                    margin-left: 15%;
                    margin-top: 0px;
                    width: 250px;
                    padding: 0px 0px;
                }

                .disco1 {
                    width: 100px;
                    margin-top: -535px;
                    margin-left: 8px;
                }

                .disco2 {
                    width: 100px;
                    height: 100px;
                    margin-left: 250px;
                    margin-top: -93px;
                }
            }
        }
    }
}