@media (max-width:1440px) {
    nav {
        width: 100%;

        .menu {
            font-size: 20px;
            gap: 40px;
        }
    }

    .main-section {

        .eclipse {
            width: 130px;
            height: 130px;
            left: 440px;
            top: 190px;
        }

        .img {
            width: 470px;
            height: 400px;
            left: 140px;
            top: 210px;
        }

        .eclipse2 {
            width: 170px;
            height: 170px;
            left: 140px;
            top: 450px;

        }

        .slm {
            width: 350px;
            left: 50rem;
            font-size: 45px;
        }

        .tmd1000 {
            width: 350px;
            left: 50rem;
            top: 20rem;
            font-size: 22px;
            line-height: 22px;
        }

        button {
            width: 170px;
            height: 55px;
            left: 50rem;
            top: 24rem;
            border-radius: 12px;
        }

        .headph {
            width: 220px;
            height: 220px;
            left: 57rem;
            top: 32rem;
        }
    }

    .main-footer {

        .container-footer {
            height: 100px;
            bottom: 0px;
        }

        .descargar {
            font-weight: 400;
            font-size: 22px;
            line-height: 28px;
            padding-left: 10rem;
            padding-bottom: 1rem;
        }

        .navigation-menu2 {
            font-size: 22px;
            line-height: 28px;
            gap: 40px;
            padding-bottom: 1rem;
            padding-right: 10rem;
        }
    }

    /* UNIRSE */

    .main-unirse {

        .eclipse-unirse {
            display: none;
        }

        .eclipse3-unirse {
            display: none;
        }

        .eclipse2-unirse {
            margin-top: 90px;
            margin-left: 230px;
            width: 350px;
        }

        .ache1 {
            left: 33%;
            top: 18%;
            font-size: 47px;
        }

        .unirse-box {
            width: 320px;
            top: 270px;
            left: 37%;
            position: absolute;
            box-sizing: border-box;
            padding: 50px 30px;
            border-radius: 15px;
        }
    }

    /* descargar */

    .main-descargar {
        h1 {
            left: 260px;
            top: 245px;
            font-size: 46px;
        }

        p {
            left: 270px;
            top: 320px;
        }

        h2 {
            left: 350px;
        }

        .stores {
            width: 220px;
            left: 410px;
        }

        .cloud1 {
            left: 970px;
        }

        .phoneapp {
            left: 920px;
        }

        .eclipdesc {
            width: 210px;
            height: 210px;
            left: 280px;
        }

        .eclipdesc2 {
            width: 200px;
            height: 200px;
            left: 1060px;
        }
    }

    /* DESCUBRE */
    main {


        .grid {
            width: 100%;
            height: 600px;
            margin: 5px auto;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
                "n1  n4"
                "n2  n4"
                "n3  n4"
            ;
            gap: 10px;


            /* .item {
        color: #FFFFFF;
        text-align: center;
    } */

            .item1 {
                grid-area: n1;
                padding-top: 120px;
            }

            .h1-descubrir {
                font-weight: 370;
                font-size: 40px;
            }

            /*     
    .item2 {
        grid-area: n2;
        padding-top: 0px;
    }  */

            .img-desc {
                grid-area: img-desc;
                width: 400px;
                padding-top: 10px;
            }

            .item3 {
                grid-area: n3;
                margin: 0px 150px 0px 150px;

                p {
                    font-size: 23px;
                }
            }


            .item4 {
                grid-area: n4;

                .albumtop {
                    padding-left: 100px;
                    margin-top: 90px;
                    width: 500px;
                }

                .disco1 {
                    width: 180px;
                    margin-top: -510px;
                    margin-left: 15px;
                }

                .disco2 {
                    width: 180px;
                    height: 180px;
                    margin-left: 405px;
                    margin-top: -140px;
                }
            }
        }
    }
}